$content-fontcolor:#333;
$content-bgcolor:#f1f1f1;
$content-notice-fontcolor: rgba(0,0,0,0.50);
$search-background: #f5f5f5;
$bg-color: #fff;
$heigh-light: #E93B3B;
$btn-bgcolor: #0091ff;
$border-color: #666;
$btn-color: #4FB0F9;
$light-fontColor: #999;
$dark-bgColor: #F8F8F8;